@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Unbounded:wght@300&display=swap');

*{
    margin: 0 ;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;    
}

.root{
    padding: 0 75px;
}

nav{
    background-color: blueviolet;
    text-align: center;
    position: fixed;
    font-size: 30px;
    width: 100%;
}
nav ul {
   display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
nav ul li{
    float: left;
    padding-right: 20px;
    color: white;
    
    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: blanchedalmond;
}

header{
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: url("./media/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#iconos ul{
    padding-top: 15px;
    list-style: none;
}

#iconos ul li{
    float: left;
    padding-right: 20px;
    font-size: 30px;
}

#iconos ul li a{
    color: white;
}

#fotoperfil{
    height: 350px;
}

#sobremi{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid blueviolet;
    
}

#sobremiinfo{
    padding-top: 20px;
}

#sobremiinfo input{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    margin-bottom: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;

}

#sobremiinfo input:hover{
    background-color: rgb(91, 29, 148);
}

#contenedormi{
    display: grid;
    grid-template-columns: 600px 1fr ;
}


h2{
    font-size: 30px;
    padding-bottom: 10px;

}
p{
    font-size: 20px;
    padding-bottom: 10px;

}

.botonsig{
    padding-bottom: 30px;
}

#portfolio{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid blueviolet;

}
.carta img{
    width: 350px;
    border-radius: 10px;
}

.carta{
    margin-bottom: 50px;
    width: 350px;
    height: 325px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.separador{
    border: 1px solid blueviolet;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#portfolioconenedor{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.carta h3, h4,  .porbot{
    padding-left: 15px;
}

.carta h3{
    margin-top: 10px;
    color: blueviolet;
}

.carta h4{
    margin-bottom: 10px;
}
.carta p{
    padding-top: 6px;
    padding-bottom:6px ;
    padding-left: 15px;
}

.porbot{
    margin-bottom: 20px;
    margin-top: 10px;
    padding-right: 30px;
}

.porbot input{
    font-size: 20px;
    border: 0;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 10px;
    float: right;
}


#skills{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid blueviolet;
}

.cartaskills{
    margin-top: 40px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.nameskills,  .infoskills, .iconosskill{
    margin:0 30px;
    
}

.nameskills{
    margin-top: 20px;
}

.iconosskill{
    margin-right: 50px;
    text-align: right;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.iconosskill i{
    padding-left: 15px;
}

#contenedorskills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

#contacto{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid blueviolet;
}

.cuestionario{
    font-size: 30px;
    min-height: 40px;
    padding: 0, 5px;
    text-decoration: none;
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-bottom: 20px;
}

#mensaje{
    font-size: 30px;
    min-height: 100px;
    padding: 0, 5px;
    text-decoration: none;
    border: 1px solid blueviolet;
    border-radius: 15px;   
    margin-bottom: 20px;
}

#inputs{
    padding-top: 15px;
}

#enviar{
    font-size: 25px;
    padding: 7px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: blueviolet;
    margin-bottom: 10px;
}

#enviar:hover{
    background-color: rgb(91, 29, 148);
}

#contenedorcontacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    background-color: blueviolet;
    
}

footer .root i{
    font-size: 20px;
    color: white;
    padding-top: 7px;
}

footer .root p{
    color: white;
}

#contenedorfooter{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    
    justify-content: center;
}

